Repository dynamic-framework/dynamic-commons-base-template, pull requests merged in 2025-05, with the labels that each got.

#39 chore: configure dependabot only for vulnerabilities
  .github/dependabot.yml
Labels: chore

#41 chore: update DS to 1.35
  package-lock.json
  package.json
Labels: chore

#40 fix: dependabot config for ui-react updates
  .github/dependabot.yml
Labels: fix

#37 chore(master): release 1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending, do not merge
